body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:549px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:549px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:150px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:36px;
  width:242px;
  height:150px;
  display:flex;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:134px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:36px;
  width:242px;
  height:134px;
  display:flex;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:109px;
  width:195px;
  height:22px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:109px;
  width:22px;
  height:22px;
  display:flex;
  font-family:'Iaxurefont Medium', 'Iaxurefont', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#D7D7D7;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:61px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:43px;
  width:117px;
  height:61px;
  display:flex;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:138px;
  width:47px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_img.selected {
}
#u91.selected {
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:138px;
  width:47px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_img.selected {
}
#u92.selected {
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:138px;
  width:47px;
  height:22px;
  display:flex;
  font-size:10px;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u95 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:5px;
  width:100px;
  height:100px;
  display:flex;
}
.u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u96 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:11px;
  width:56px;
  height:16px;
  display:flex;
}
.u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u96_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u97 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:66px;
  width:28px;
  height:16px;
  display:flex;
}
.u97 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u97_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u94-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:105px;
}
#u94-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:230px;
  height:105px;
}
#u94-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:220px;
  height:105px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:187px;
  width:230px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:502px;
  width:53px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:495px;
  width:42px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:495px;
  width:48px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:492px;
  width:49px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
